.login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    
    flex-direction: column;
    padding:20px;
    border-radius: 10px;
   

    .terms{
        width: 350px;
        font-size: 12px;
        font-weight: 200;
        margin-top: 20px;
    }
  
    form {
      width: 350px;
      padding: 10px 0px;
      padding-right: 20px;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      p{
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 14px;
      }
  
      h1 {
        color: rgb(58, 58, 58);
        //margin-bottom: 20px;
        font-size: 24px;
      }
  
      label {
        color: gray;
        font-size: 16px;
      }
  
      input,
      textarea {
        padding: 15px;
        border-radius: 5px;
        border: 1px solid rgb(216, 214, 214);
      }
  
      button {
        border: none;
        margin-top: 10px;
        padding: 15px;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color: #FF7600;
        border-radius: 5px;
        cursor: pointer;
      }
  
      span{
        color: red;
        font-size: 12px;
      }
    }
  }